extends layout

block content
  h1 Weather
  p A Progressive Weather App for your phones. Don't know whats a Progressive Web App? Well, here you go :
  h3 Whats a Progressive Web App
  p Progressive web apps use modern web APIs along with traditional progressive enhancement strategy to create cross-platform web applications. In simple terms, it's a web app which has capabilites equivalent to that of native Apps. In even more simple terms, you can press "Add to Home Screen" button in your browser. Then, the website will work like a normal app on your phone. It has features like push notifications and background sync which normal web apps don't have.
  h3 Why did I build this?
  p This was a project that I did to learn how to build progressive web apps. On the way I also ended up using Express.js. 
  h3 There are tons of weather apps out there. So why should I use this?
  p Good Question. I don't know why either. It'll probably save some space in your phone or will be useful if you have a poor internet. Other than that there is no use for this app.
  h3 Can I use this weather app API to build a weather app of my own?
  <p> Please don't do that! I am using the <a href="https://darksky.net/poweredby/")> Dark Sky</a> API for this app. The free version allows only 1000 API calls per day. So please don't spam my server for requests. </p>
